*
{
    padding: 0;
    margin: 0;
    font-family: Segoe UI, Arial, sans-serif;
}

header
{
    background-color: #006599;
    color: white;
    padding: 50px;
    padding-inline: 60px;
    height: 100%;
    position: fixed;    
}

.logo
{
    text-align: center;
    margin-inline: 16px;
}

.logo img
{
    width: 50%;
    margin-bottom: 10px;
}

.logo p
{
    font-size: 2.2em;
    margin-bottom: 50px;
    color: white;
}

.secao
{
    cursor: pointer;
    display: block;
    margin-bottom: 35px;
    font-size: 1.1em;
    text-decoration: none;
    color: white;   
}

.secao:last-child
{
    margin-bottom: 0;
}

.secao:active
{
    text-decoration: underline;
}

main
{
    margin-left: 280px;
    background-color: white;
}

.banner
{   
    width: 100%;
    height: 530px;
    object-fit: cover;
}

h2
{
    color: #09689a;
    font-size: 300%;
    font-weight: 390;
    margin-bottom: 20px;
}

h3
{
    color: #09689a;
    font-size: 250%;
    font-weight: 385;
    margin-bottom: 20px;
}

h4
{
    color: #09689a;
    font-size: 250%;
    font-weight: 379;
    margin-bottom: 20px;
}

main p
{
    color: #444444;
    line-height: 25px;
    margin-bottom: 30px;
}

#lermais, #enviar
{
    font-size: medium;
    color: white;
    padding: 17px 55px;
    background-color: #006599;
    border: 0;
    cursor: pointer;
}

#lermais:active, #enviar:active
{
    background-color: white;
    color: #006599;
    border: 1px solid #006599;
}

#enviar
{
    padding: 19px 72px;
    font-size: large;
}

.imagemlateral
{
    width: 290px;
    height: 390px;
    object-fit: cover;
}

section
{
    padding-inline: 32px;
    margin-bottom: 10px;
}

section.bemvindo div, section.sobre div
{
    display: flex;
    flex-direction: row;
}

section.bemvindo div aside
{
    margin-left: 40px;
}

#naodisponivel, #agradecimento
{
    margin-top: 5px;
    font-size: large;
}

#naodisponivel
{
    color: red;
}

section.sobre div aside
{
    margin-right: 40px;
}

section.variacao, section.visual, section.festa
{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 38px;
}

section.variacao img
{
    width: fit-content;
    height: 190px;
    object-fit: cover;
}

section.variacao div, section.visual div, section.festa div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

section.visual img
{
    width: 490px;
    height: 200px;
    object-fit: cover;
}

section.festa img
{
    width: 362px;
    height: 200px;
    object-fit: cover;
}

section.contato
{
    margin-left: 40px;
    margin-top: 60px;
    margin-bottom: 100px;
}

input, textarea
{
    display: block;
    width: 505px;
    padding: 9px;
    font-size: 17px;
    border: 1px solid #006599;
    margin-bottom: 20px;
}

input::placeholder, textarea::placeholder
{
    color: #006599;
}

input:focus, textarea:focus
{
    outline: #006599;
}

@media (min-width: 501px) and (max-width: 800px)
{
    section.bemvindo div, section.sobre div
    {
        flex-direction: column;
    }

    section.bemvindo div aside, section.sobre div aside
    {
        margin-left: 0;
        margin-right: 0;
    }

    section.bemvindo div aside
    {
        margin-top: 20px;
    }

    section.variacao, section.visual, section.festa, section.contato
    {
        margin-left: 0;
    }

    input, textarea, section.variacao img, section.visual img, section.festa img, .imagemlateral
    {
        width: 100%;
    }
}

@media (max-width: 500px)
{
    header
    {
        position: static;
        width: 100%;
        padding: 40px 0 40px;
    }

    .logo
    {
        text-align: center;
        margin-inline: 6px;
    }

    .logo img
    {
        width: 30%;
        margin-bottom: 10px;
    }

    .logo p
    {
        font-size: 3.2em;
    }

    .secao
    {
        margin-bottom: 55px;
        font-size: 2.1em;
        text-align: center;   
    }

    main
    {
        margin-left: 0;
    }

    section.bemvindo div, section.sobre div
    {
        flex-direction: column;
    }

    section.bemvindo div aside, section.sobre div aside
    {
        margin-left: 0;
        margin-right: 0;
    }

    section.bemvindo div aside
    {
        margin-top: 20px;
    }

    section.variacao, section.visual, section.festa, section.contato
    {
        margin-left: 0;
    }

    input, textarea, section.variacao img, section.visual img, section.festa img, .imagemlateral
    {
        width: 100%;
    }
}